<h2>Reset Password</h2>

<form action="/resetPass/" method="POST">

    <label for="email">Email:</label>
    <input type="email" name="email" required>
    <br><br>

    <label for="password1">New password:</label>
    <input type="text" name="password1" required>
    <br><br>

    <label for="password2">Confirm password:</label>
    <input type="text" name="password2" required>
    <br><br>

    <button type="submit"> Send </button>



</form>
